.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px red;
}
.note{
    font-size: 15px;
    color: black;
}
.body{
    background-size: cover;
}
canvas{
border: 20px solid palevioletred;
box-shadow:5px 5px 5px tomato;
border-radius: 50%;
}
#song{
    font-size:23px;
    margin: 15px;
}